h1 {
  color: #F12A11;
  font-size: 38px;
  text-align: center;
  border-bottom: 3px solid ;
  padding-bottom: 20px;
  position: absolute;
  top: 0;
  right: 8px;
  left: 8px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0px;
  min-height: 260px;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 700px;
  margin-top: 70px;
}

#gestures-sec {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}
#gestures-sec button {
  flex: 1;
  background-color: inherit;
  border: none;
  cursor: pointer;
  /* border: 3px solid #F12A11; */
  box-shadow: 0px 0px 10px rgba(0,0,0, 0.18);;
  margin: 0px 10px;
  border-radius: 150px;
  width: 200px;
  height: 200px;
}
#gestures-sec button img {
  width: 80%;
}

#score-sec, #reset-sec {
  /* background-color: aquamarine; */
  font-size: 25px;
  font-weight: 600;
}
#score-sec {
  text-align: center;
  margin: 10px 0px;
}

#playersChoices, #result {
  padding: 8px 0px;
}

#score {
  display: grid;
  grid-template-columns: 120px 140px 120px;
  column-gap: 35px;
  justify-content: center;
}
#score-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px;
  /* background-color: gray; */
}
#score-text {
  color: #f47317;
  border-right: 3px solid #F12A11;
  padding-right: 5px;
}

#reset-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  /* background-color: lightcoral; */
}
#reset-button, #yes-button {
  padding: 0px 18px;
  height: 50px;
  font-size: 23px;
  font-weight: 600;
  background-color: white;
  color: #f47317;
  border: 3px solid #F12A11;
  border-radius: 50px;
}
#reset-timer {
  margin: 0px 20px;
}

#playersChoices {
  display: flex;
  justify-content: center;
  align-items: center;
}
#playerChoice, #pcChoice {
  margin: 0px 10px;
}
#playerChoice {
  transform: rotate(90deg);
}
#pcChoice {
  transform: rotate(-90deg) rotateY(180deg);
}